.footerContainer{
    background-color: rgb(118, 170, 222);
    padding: 2rem 0;
}
.footerlogo{
    color: #000;
    background-color: rgb(118, 170, 222);
}
.navbarBrand{
    background-color: rgb(118, 170, 222) !important;
    box-shadow: none !important;
}
.footernavlink >div>a {
    margin: 0.5rem 0;
}
@media screen and (max-width:540px) {
    .socialIcons{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .footernavlink >div>a{
        text-align: center;
    }
    .footerlogo{
        margin: auto;
        width: fit-content;
        height: fit-content;
    }
}