/* .carouselCon{
   position: relative;

} */
.carouselitem{
    height: 85vh;
    position: relative;
    z-index: 1;
}
.caroimg{
    width: 100%;
    object-fit: cover;
    height: 100%;
    opacity: 0.9;
  
}
.carocaption{
    position: absolute;
    bottom: 6rem;
}
