.serviceItem{
   margin: 1rem 0;
  
   /* margin: auto; */
  
}
.serviceItem:hover{
  transform: scaleX(105%);
  cursor: pointer;
  transition: ease-in-out 0.2s;
 
}
.servicecard:hover{
  box-shadow: 2px 3px 4px rgb(10, 179, 7);
}
.ser{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
.ser:hover{
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in; 
  cursor: zoom-in;
}
.sever{
    display: flex !important;
    /* border: solid; */
}

  .multi-line-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .show{
    cursor: pointer;
    background-color: rgb(16, 117, 218);
    padding: 0.6rem 1rem;
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
  }