.testimonySlider{
    margin: auto;
    width: 90%;
    padding-bottom: 1rem;
}
.majorTestimonyText{
    text-align: center;
    margin: 2rem;
    color: #fff;
}

.slick-dots >li >button:before {
    color: #fff !important; 
  }
  
